<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="../css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="../css/stype.css"/>
</head>
<body>
<div class="social3 social">
    <h2><span><img src="../images/l.gif" alt=""/></span>Profile<i><img src="../images/s.gif" alt=""/></i></h2>
    <div class="social3-nav">
        <span>ALL</span>
        <span>PEOPLE</span>
        <span>PHOTOS</span>
        <span>VIDEOS</span>
    </div>
    <div class="social3-div">
        <dl>
            <dt><img src="../images/social3_1.png" alt=""/></dt>
            <dd>
                YAROSLAV ZAITSEV
                <p>5875 images, 1420 videos</p>
            </dd>
        </dl>
        <ul>
            <li><img src="../images/social3_4.png" alt=""/></li>
            <li><img src="../images/social3_5.png" alt=""/></li>
            <li><img src="../images/social3_6.png" alt=""/></li>
        </ul>
    </div>
    <div class="social3-div">
        <dl>
            <dt><img src="../images/social3_2.png" alt=""/></dt>
            <dd>
                NIGKY BUDDHA
                <p>1468 images, 9825 videos</p>
            </dd>
        </dl>
        <ul>
            <li><img src="../images/social3_7.png" alt=""/></li>
            <li><img src="../images/social3_8.png" alt=""/></li>
            <li><img src="../images/social3_9.png" alt=""/></li>
        </ul>
    </div>
    <div class="social3-div">
        <dl>
            <dt><img src="../images/social3_3.png" alt=""/></dt>
            <dd>
                CREG LARIN
                <p>2018 images, 8125 videos</p>
            </dd>
        </dl>
        <ul>
            <li><img src="../images/social3_10.png" alt=""/></li>
            <li><img src="../images/social3_11.png" alt=""/></li>
            <li><img src="../images/social3_12.png" alt=""/></li>
        </ul>
    </div>
</div>
</body>
</html>