<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="../css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="../css/stype.css"/>
</head>
<body>
    <div class="personal">
        <h2><span><img src="../images/l.gif" alt=""/></span>Profile<i><img src="../images/s.gif" alt=""/></i></h2>
        <div class="personal-div">
            Edvard Korus
            <p>Artist,Web,Designer,Paris</p>
        </div>
        <ul class="personal-ul">
            <li>
                2560
                <p>LIKES</p>
            </li>
            <li>
                4025
                <p>FOLLOWERS</p>
            </li>
            <li>
                1278
                <p>FOLLOWING</p>
            </li>
        </ul>
        <button class="personal-but">FOLLOW +</button>
        <div class="personal-nav">
            <span>Posts</span>
            <span>Photos</span>
            <span>Message</span>
        </div>
    </div>


</body>
</html>