<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="../css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="../css/stype.css"/>
</head>
<body>
    <div class="profile">
        <h2><span><img src="../images/l.gif" alt=""/></span>Profile<i><img src="../images/s.gif" alt=""/></i></h2>
        <img src="../images/profile1_5.png" alt="" class="profile-img"/>
        <ul class="profile-ul">
            <li>
                158K
                <p>FOLLOWERS</p>
            </li>
            <li>
                John Fredson
                <p>Writter</p>
            </li>
            <li>
                25K
                <p>FOLLOWINC</p>
            </li>
        </ul>
        <button class="profile-but">FOLLOW +</button>
        <div class="profile-Photo">
            <li>
                <img src="../images/profile2_1.png" alt=""/>
                <img src="../images/profile2_2.png" alt=""/>
            </li>
            <li>
                <img src="../images/profile2_3.png" alt=""/>
                <img src="../images/profile2_4.png" alt=""/>
            </li>
        </div>
    </div>
</body>
</html>